* {
  box-sizing:border-box;
}

html {
  background: url("https://bloximages.chicago2.vip.townnews.com/heraldextra.com/content/tncms/assets/v3/editorial/b/70/b70d6645-202e-5b97-8878-fb9ece8fedd7/5820f6ab3cd3e.image.png?resize=400%2C193");

}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}
div.menu-container {
  /* Rectangle 1 */
  position: absolute;
  grid-column:1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 31%;
  min-width: 350px;
  height: auto;
  max-height: 250px;
  left: 1%;
  top: 1%;
  padding-bottom: 10px;
  background: #FBE2E2;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.userAvatar {
 /* Rectangle 4 */
display: inline-flex;
position: relative;
width: 50px;
height: auto;
margin-top: 10%;
margin-left: 10%;

}
.user-member {
  position: relative;
  display:block;
  font-size: 12px;
  margin-top:10px;
  margin-bottom: 0;
  padding:0;
  left: 10px;
}
.user-date {
  position: relative;
  display: block;
  font-size: 9px;
  margin: 0;
  padding: 0;
  left: 10px;

}


img.menu-img {
  position: relative;
  width:50%;
  right: 20px;
 
}
.v-school-logo {
  display: inline-flex;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 40%;
  width: 60%;
  background:  #FBE2E2;
}
.forum-label {
  position: relative;
  grid-column: 2/3;
  left: 6%;
  bottom: 100%;
  margin: 0;
}

.menu-trigger {
  background: whitesmoke;
  cursor: pointer;
  display: flex;
  grid-column: 3/5;
  grid-row: 1/2;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-top: 30px;

}
#login-button {
  height: 20px;
  grid-row: 1/2;
  grid-column: 3/5;
  font-family: Roboto;
  font-weight: bolder;
  
}

.menu-trigger:active, .menu-trigger:focus {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  outline: none;
  

}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;

}


 
 .menu {
   background: #FBE2E2;
   position: absolute;
   top: 110%;
   width: 230px;
   height: 700px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
   opacity: 0;
   visibility: hidden;
   transform: translateY(-20px);
   transition: opacity 1s ease, transform 1s ease, visibility 1s;
 
 }
 
 .menu.active {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
  
 
 }
 
 .menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
 
 }
 
 .menu li{
   border-bottom: 1px solid #616060;
   padding: 5px;
 
 }
 
 .menu li {
  background: #FBE2E2;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-weight: bolder;
   color: rgb(53, 43, 43);
   padding: 15px 20px;
   display: block;
   
 
 }


 .categories-label {
   font-family: 'Roboto', sans-serif;
   font-weight: bolder;
   margin: 10px;
 }
 #category-input {
   padding: 5px;
   margin: 5px;

 }

 #add-category-button{
   margin: 5px;
  
 }
 #category-title {
    margin:20px;
 }

.topics-container {
  /* Rectangle 2 */
position: relative;
width: 100%;
min-width: 380px;
padding-top: 150px;
visibility: visible;
transform: translateY(-20px);
transition: opacity 1s ease, transform 1s ease, visibility 1s;
left: 0px;
top: 0px;
background: #B86363;
opacity: .9;


}
.topics-container {
  visibility: visible;
  opacity: 1;
  transform:translateY(0);
}
.category-header {
  position:relative;
  text-align: center;
  margin-top: 20%;
  font-weight: bolder;
  color: white;
  z-index: 1;
}
.user {
  display: inline-block;
  grid-column: 1/2;
  grid-row: 1/2;
  
  
  
}

.topicDiv {
 position: relative;
 float: left;
}
.topic-form {
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
#topic-input {
  position: relative;
  top: 30px;
  padding: 5px;
  margin: 5px;

}

#add-topic-button{
  margin: 5px;
  position: relative;
  top: 30px;
 
}

#topic-title {
   margin:20px;
   padding: 15px;
   color: rgb(53, 43, 43);
   font-weight: bolder;
   font-size: 2.5vw;
}

.topic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
  height: 20%;
  width: 95%;
  background: #d49b9b;
  transition-property: margin-left;
  transition-property: width;
  transition-duration: 1s;
  
}



.topic:hover {
  margin-left: 10%;
  background: #f8dcdc;
  width: 90%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 
}
  .arrow-left{
    grid-column: 4/5;
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: right;
    top: 30%;
    width: 0; 
    height: 0;
    z-index:1; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right:30px solid white;
    
  
    
  }

  .topic:hover>.arrow-left {
    visibility: visible;
  }

  
.posts-container {
  /* Rectangle 20 */
position: relative;
width: 100%;
min-width: 380px;
height: 900px;
top: 0px;
background: #FFFFFF;
visibility: visible;
transform: translateY(-20px);
transition: opacity 1s ease, transform 1s ease, visibility 1s;
opacity: .9;

}
.posts-active {
  visibility: visible;
  opacity: 1;
  transform:translateY(0);
}
.post-header {
  padding-top: 20px;
  text-align: center;
}
.post-title {
  position: relative;
  text-decoration: underline;
  text-align: center;

}
.post {
  padding: 20px;

}
.post-form {
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
#post-content-input {
  padding: 5px;
  margin: 5px;
  width: auto;
  height: auto;

}
#reply-content-input {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
  float: right;
}
#add-reply-button {
padding: 9px;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
}

#add-post-button{
  margin: 5px;
  padding: 9px;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
 
}
.delete-btn {
  position: relative;
  float: right;
  margin: 5px;
}
.edit-btn {
  position: relative;
  margin: 5px;
}

.closeEditing {
  margin-top: 0;
  position: relative;
  bottom: 40px;
}



.replies-container {
  /* Rectangle 3 */
position: relative;
display: inline-flex;
width: 100%;
min-width: 380px;
height: 900px;
background: #E9E0E0;
visibility: visible;
transform: translateY(-20px);
transition: opacity 1s ease, transform 1s ease, visibility 1s;
opacity: .9;

}
.replies-active {
  visibility: visible;
  opacity: 1;
  transform:translateY(0);
}